flows_broker.json
[{"id":"e2e49ac5.be60b8","type":"tab","label":"Alohomora: kluis","disabled":false,"info":""},{"id":"8d203336.9246e","type":"mqtt in","z":"e2e49ac5.be60b8","name":"code1","topic":"esp32/alohomora/code1","qos":"2","datatype":"auto","broker":"ffb07532.ab2548","x":230,"y":340,"wires":[["c4fee6c.c288d18","a3cd36de.4b5588","7d26b80f.1275a8"]]},{"id":"74eb9d15.88a9a4","type":"mqtt in","z":"e2e49ac5.be60b8","name":"code2","topic":"esp32/alohomora/code2","qos":"2","datatype":"auto","broker":"ffb07532.ab2548","x":230,"y":420,"wires":[["40733546.50e39c","a3cd36de.4b5588","2585f06d.b85ab"]]},{"id":"952feeda.33481","type":"mqtt in","z":"e2e49ac5.be60b8","name":"code3","topic":"esp32/morse/output","qos":"2","datatype":"auto","broker":"ffb07532.ab2548","x":230,"y":500,"wires":[["93a948b.0398bb8","a3cd36de.4b5588","d7e0dd6b.5cbbb"]]},{"id":"96224af0.367178","type":"mqtt in","z":"e2e49ac5.be60b8","name":"code4","topic":"esp32/alohomora/code4","qos":"2","datatype":"auto","broker":"ffb07532.ab2548","x":230,"y":580,"wires":[["f711cf7c.b9825","a3cd36de.4b5588","3cc4719e.0586be"]]},{"id":"3fad7c7a.020654","type":"inject","z":"e2e49ac5.be60b8","name":"Force ready","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"esp32/alohomora/control","payload":"ready","payloadType":"str","x":250,"y":240,"wires":[["2b3fcd9e.5d8cd2"]]},{"id":"c4fee6c.c288d18","type":"mqtt out","z":"e2e49ac5.be60b8","name":"code digit 1","topic":"esp32/alohomora/code1","qos":"2","retain":"","broker":"ffb07532.ab2548","x":650,"y":340,"wires":[]},{"id":"40733546.50e39c","type":"mqtt out","z":"e2e49ac5.be60b8","name":"code digit 2","topic":"esp32/alohomora/code2","qos":"2","retain":"","broker":"ffb07532.ab2548","x":650,"y":420,"wires":[]},{"id":"93a948b.0398bb8","type":"mqtt out","z":"e2e49ac5.be60b8","name":"code digit 3","topic":"esp32/alohomora/code3","qos":"2","retain":"","broker":"ffb07532.ab2548","x":650,"y":500,"wires":[]},{"id":"f711cf7c.b9825","type":"mqtt out","z":"e2e49ac5.be60b8","name":"code digit 4","topic":"esp32/alohomora/code4","qos":"2","retain":"","broker":"ffb07532.ab2548","x":650,"y":580,"wires":[]},{"id":"64164935.16c588","type":"mqtt out","z":"e2e49ac5.be60b8","name":"","topic":"","qos":"2","retain":"","broker":"ffb07532.ab2548","x":590,"y":240,"wires":[]},{"id":"53ca1582.47ea8c","type":"inject","z":"e2e49ac5.be60b8","name":"add attempt","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"esp32/alohomora/control","payload":"AddAttempt","payloadType":"str","x":250,"y":200,"wires":[["e6050cb4.01bce"]]},{"id":"f2c5e18a.4087a","type":"mqtt out","z":"e2e49ac5.be60b8","name":"","topic":"","qos":"2","retain":"","broker":"ffb07532.ab2548","x":590,"y":200,"wires":[]},{"id":"b603da0a.4c8f88","type":"inject","z":"e2e49ac5.be60b8","name":"open door","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"esp32/alohomora/control","payload":"open","payloadType":"str","x":240,"y":160,"wires":[["3fed5be.c2ac6a4"]]},{"id":"dbe49b4d.328ae8","type":"mqtt out","z":"e2e49ac5.be60b8","name":"","topic":"","qos":"2","retain":"","broker":"ffb07532.ab2548","x":590,"y":160,"wires":[]},{"id":"69defa09.093c14","type":"inject","z":"e2e49ac5.be60b8","name":"hard reset","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"esp32/alohomora/control","payload":"reset","payloadType":"str","x":240,"y":120,"wires":[["bc086609.746ff8"]]},{"id":"57f4cdcc.45f644","type":"mqtt out","z":"e2e49ac5.be60b8","name":"","topic":"","qos":"2","retain":"","broker":"ffb07532.ab2548","x":590,"y":120,"wires":[]},{"id":"e23f79b8.486378","type":"mqtt out","z":"e2e49ac5.be60b8","name":"","topic":"","qos":"2","retain":"","broker":"ffb07532.ab2548","x":590,"y":80,"wires":[]},{"id":"d9858ed8.c33b5","type":"ui_button","z":"e2e49ac5.be60b8","name":"soft reset","group":"659a905b.a63e","order":0,"width":"3","height":"1","passthru":true,"label":"Soft reset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"start","payloadType":"str","topic":"esp32/alohomora/control","topicType":"str","x":420,"y":80,"wires":[["e23f79b8.486378"]]},{"id":"611588b5.fdaee8","type":"inject","z":"e2e49ac5.be60b8","name":"soft reset","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"esp32/alohomora/control","payload":"start","payloadType":"str","x":240,"y":80,"wires":[["d9858ed8.c33b5"]]},{"id":"bc086609.746ff8","type":"ui_button","z":"e2e49ac5.be60b8","name":"hard reset","group":"659a905b.a63e","order":0,"width":"3","height":"1","passthru":true,"label":"Hard reset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"reset","payloadType":"str","topic":"esp32/alohomora/control","topicType":"str","x":420,"y":120,"wires":[["57f4cdcc.45f644"]]},{"id":"3fed5be.c2ac6a4","type":"ui_button","z":"e2e49ac5.be60b8","name":"open door","group":"659a905b.a63e","order":0,"width":"6","height":"2","passthru":true,"label":"Open door","tooltip":"","color":"","bgcolor":"","icon":"","payload":"open","payloadType":"str","topic":"esp32/alohomora/control","topicType":"str","x":420,"y":160,"wires":[["dbe49b4d.328ae8"]]},{"id":"e6050cb4.01bce","type":"ui_button","z":"e2e49ac5.be60b8","name":"add attempt","group":"659a905b.a63e","order":0,"width":"3","height":"1","passthru":true,"label":"Add attempt","tooltip":"","color":"","bgcolor":"","icon":"","payload":"AddAttempt","payloadType":"str","topic":"esp32/alohomora/control","topicType":"str","x":430,"y":200,"wires":[["f2c5e18a.4087a"]]},{"id":"2b3fcd9e.5d8cd2","type":"ui_button","z":"e2e49ac5.be60b8","name":"force ready","group":"659a905b.a63e","order":0,"width":"3","height":"1","passthru":true,"label":"Ready","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ready","payloadType":"str","topic":"esp32/alohomora/control","topicType":"str","x":430,"y":240,"wires":[["64164935.16c588"]]},{"id":"a3cd36de.4b5588","type":"join","z":"e2e49ac5.be60b8","name":"code merge","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":490,"y":460,"wires":[["cd5c2a8b.8fcf08"]]},{"id":"cd5c2a8b.8fcf08","type":"ui_text","z":"e2e49ac5.be60b8","group":"659a905b.a63e","order":5,"width":0,"height":0,"name":"code","label":"CODE","format":"{{msg.payload}}","layout":"row-spread","x":710,"y":460,"wires":[]},{"id":"840bf9a.ca9aa08","type":"inject","z":"e2e49ac5.be60b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"str","x":230,"y":380,"wires":[["c4fee6c.c288d18"]]},{"id":"88b35e8c.d4b0d","type":"inject","z":"e2e49ac5.be60b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2","payloadType":"str","x":230,"y":460,"wires":[["40733546.50e39c"]]},{"id":"63f443fb.1c088c","type":"inject","z":"e2e49ac5.be60b8","name":"3","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"esp32/alohomora/code3","payload":"4","payloadType":"str","x":230,"y":540,"wires":[["93a948b.0398bb8"]]},{"id":"263bdf9b.d332c","type":"inject","z":"e2e49ac5.be60b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"4","payloadType":"str","x":230,"y":620,"wires":[["f711cf7c.b9825"]]},{"id":"7d26b80f.1275a8","type":"ui_text","z":"e2e49ac5.be60b8","group":"659a905b.a63e","order":6,"width":"1","height":"1","name":"","label":"digit 1","format":"{{msg.payload}}","layout":"col-center","x":810,"y":340,"wires":[]},{"id":"2585f06d.b85ab","type":"ui_text","z":"e2e49ac5.be60b8","group":"659a905b.a63e","order":6,"width":"1","height":"1","name":"","label":"digit 2","format":"{{msg.payload}}","layout":"col-center","x":810,"y":420,"wires":[]},{"id":"d7e0dd6b.5cbbb","type":"ui_text","z":"e2e49ac5.be60b8","group":"659a905b.a63e","order":6,"width":"1","height":"1","name":"","label":"digit 3","format":"{{msg.payload}}","layout":"col-center","x":810,"y":500,"wires":[]},{"id":"3cc4719e.0586be","type":"ui_text","z":"e2e49ac5.be60b8","group":"659a905b.a63e","order":6,"width":"1","height":"1","name":"","label":"digit 4","format":"{{msg.payload}}","layout":"col-center","x":810,"y":580,"wires":[]},{"id":"ffb07532.ab2548","type":"mqtt-broker","name":"Broker","broker":"192.168.1.2","port":"1883","clientid":"","usetls":false,"keepalive":"3600","cleansession":true,"birthTopic":"esp32/info","birthQos":"0","birthPayload":"device connected","closeTopic":"esp32/info","closeQos":"0","closePayload":"device says goodbye","willTopic":"esp32/info","willQos":"0","willPayload":"device disconnected unexpectedly"},{"id":"659a905b.a63e","type":"ui_group","z":"e2e49ac5.be60b8","name":"Kluis","tab":"73b51bea.22f084","order":1,"disp":true,"width":"6","collapse":true},{"id":"73b51bea.22f084","type":"ui_tab","name":"Alohomora","icon":"dashboard","disabled":false,"hidden":false}]